
<body class="nk-body ui-rounder has-sidebar">
    <div class="nk-app-root">
        <!-- main @s -->
        <div class="nk-main">
            <div class="nk-sidebar is-light nk-sidebar-fixed is-light " data-content="sidebarMenu">
                <app-leftsidebar></app-leftsidebar>
            </div>
             <!-- wrap @s -->
             <div class="nk-wrap">
                <!-- header section start -->
                    <div class="nk-header is-light nk-header-fixed is-light">
                        <app-header></app-header>
                    </div>
                <!-- header section end -->
                <!-- content @s -->
                <div class="nk-content nk-content-fluid">
                    <div class="container-xl wide-xl">
                        <div class="nk-content-body">
                            <div class="nk-block-head nk-block-head-sm">
                                <div class="nk-block-between">
                                    <div class="nk-block-head-content">
                                        <h3 class="nk-block-title page-title">Home</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-block">
                                <div class="row g-gs">
                                    <!-- Total Revenue (Monthly) -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card h-100 bg-primary">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-2 me-1">56.8</span>
                                                            </div>
                                                            <h6 class="text-white">Total Revenue (Monthly)</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-cmwg -->
                                        </div><!-- .card -->
                                    </div>

                                    <!-- Total Customers (Monthly) -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card h-100 bg-info">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-2 me-1">857.6K</span>
                                                            </div>
                                                            <h6 class="text-white">Total Customers (Monthly)</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-cmwg -->
                                        </div><!-- .card -->
                                    </div>

                                    <!-- Total Operators -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card h-100 bg-warning">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-2 me-1">9.3K</span>
                                                            </div>
                                                            <h6 class="text-white">Total Operators</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-cmwg -->
                                        </div><!-- .card -->
                                    </div>

                                    <!-- Total Plans -->
                                    <div class="col-lg-3 col-sm-6">
                                        <div class="card h-100 bg-danger">
                                            <div class="nk-cmwg nk-cmwg1">
                                                <div class="card-inner pt-3">
                                                    <div class="d-flex justify-content-between">
                                                        <div class="flex-item">
                                                            <div class="text-white d-flex flex-wrap">
                                                                <span class="fs-2 me-1">175.2K</span>
                                                            </div>
                                                            <h6 class="text-white">Total Plans</h6>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div><!-- .nk-cmwg -->
                                        </div><!-- .card -->
                                    </div>

                                    <div class="col-xxl-8">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">Recent Transactions</h6>
                                                    </div>
                                                    <div class="card-tools">
                                                        <a href="#" class="link">View All</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner py-0 mt-n2">
                                                <div class="nk-tb-list nk-tb-flush nk-tb-dashed">
                                                    <div class="nk-tb-item nk-tb-head">
                                                        <div class="nk-tb-col"><span>Subject</span></div>
                                                        <div class="nk-tb-col tb-col-mb"><span>Channels</span></div>
                                                        <div class="nk-tb-col tb-col-sm"><span>Status</span></div>
                                                        <div class="nk-tb-col tb-col-md"><span>Assignee</span></div>
                                                        <div class="nk-tb-col text-end"><span>Date Range</span></div>
                                                    </div><!-- .nk-tb-head -->
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col">
                                                            <span class="tb-lead">Happy Christmas <span class="dot dot-success d-sm-none ms-1"></span></span>
                                                            <span class="tb-sub">Created on 01 Dec 22</span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-mb">
                                                            <ul class="d-flex gx-1">
                                                                <li class="text-facebook"><em class="icon ni ni-facebook-f"></em></li>
                                                                <li class="text-instagram"><em class="icon ni ni-instagram"></em></li>
                                                                <li class="text-linkedin"><em class="icon ni ni-linkedin"></em></li>
                                                                <li class="text-twitter"><em class="icon ni ni-twitter"></em></li>
                                                                <li class="text-youtube"><em class="icon ni ni-youtube-fill"></em></li>
                                                            </ul>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-sm">
                                                            <div class="badge badge-dim bg-success">Live Now</div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <div class="user-avatar-group">
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/e-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/f-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/g-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <span>2+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col text-end"><span>01 Dec - 07 Dec</span></div>
                                                    </div><!-- .nk-tb-item -->
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col">
                                                            <span class="tb-lead">Black Friday <span class="dot dot-success d-sm-none ms-1"></span></span>
                                                            <span class="tb-sub">Created on 01 Dec 22</span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-mb">
                                                            <ul class="d-flex gx-1">
                                                                <li class="text-linkedin"><em class="icon ni ni-linkedin"></em></li>
                                                                <li class="text-facebook"><em class="icon ni ni-facebook-f"></em></li>
                                                                <li class="text-instagram"><em class="icon ni ni-instagram"></em></li>
                                                                <li class="text-youtube"><em class="icon ni ni-youtube-fill"></em></li>
                                                            </ul>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-sm">
                                                            <div class="badge badge-dim bg-success">Live Now</div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <div class="user-avatar-group">
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/h-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/i-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/j-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <span>7+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col text-end"><span>01 Dec - 07 Dec</span></div>
                                                    </div><!-- .nk-tb-item -->
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col">
                                                            <span class="tb-lead">Tree Plantation <span class="dot dot-warning d-sm-none ms-1"></span></span>
                                                            <span class="tb-sub">Created on 01 Jan 23</span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-mb">
                                                            <ul class="d-flex gx-1">
                                                                <li class="text-twitter"><em class="icon ni ni-twitter"></em></li>
                                                                <li class="text-instagram"><em class="icon ni ni-instagram"></em></li>
                                                                <li class="text-linkedin"><em class="icon ni ni-linkedin"></em></li>
                                                            </ul>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-sm">
                                                            <div class="badge badge-dim bg-warning">Paused</div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <div class="user-avatar-group">
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/k-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs bg-pink">
                                                                    <span>AE</span>
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/e-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <span>3+</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col text-end"><span>01 Dec - 07 Dec</span></div>
                                                    </div><!-- .nk-tb-item -->
                                                    <div class="nk-tb-item">
                                                        <div class="nk-tb-col">
                                                            <span class="tb-lead">Getaway Trailer <span class="dot dot-success d-sm-none ms-1"></span></span>
                                                            <span class="tb-sub">Created on 12 Dec 22</span>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-mb">
                                                            <ul class="d-flex gx-1">
                                                                <li class="text-linkedin"><em class="icon ni ni-linkedin"></em></li>
                                                                <li class="text-twitter"><em class="icon ni ni-twitter"></em></li>
                                                                <li class="text-facebook"><em class="icon ni ni-facebook-f"></em></li>
                                                                <li class="text-youtube"><em class="icon ni ni-youtube-fill"></em></li>
                                                            </ul>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-sm">
                                                            <div class="badge badge-dim bg-success">Live Now</div>
                                                        </div>
                                                        <div class="nk-tb-col tb-col-md">
                                                            <div class="user-avatar-group">
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/i-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/k-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/e-sm.jpg" alt="">
                                                                </div>
                                                                <div class="user-avatar xs">
                                                                    <img src="./images/avatar/g-sm.jpg" alt="">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-tb-col text-end"><span>01 Dec - 07 Dec</span></div>
                                                    </div><!-- .nk-tb-item -->
                                                </div><!-- .nk-tb-list -->
                                            </div>
                                        </div><!-- .card -->
                                    </div>

                                    <!-- Chart section start -->
                                    <!-- <div class="col-xxl-4 col-md-6">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">Clicks by location</h6>
                                                    </div>
                                                    <div class="card-tools me-n1 mt-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="#" class="active"><span>15 Days</span></a></li>
                                                                    <li><a href="#"><span>30 Days</span></a></li>
                                                                    <li><a href="#"><span>3 Months</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner pt-0">
                                                <ul class="my-n2">
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">United States</div>
                                                        <div class="sub-text">14,356</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">Ireland</div>
                                                        <div class="sub-text">11,203</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">United Kingdom</div>
                                                        <div class="sub-text">10,653</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">Canada</div>
                                                        <div class="sub-text">7,215</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">Australia</div>
                                                        <div class="sub-text">6,653</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">Japan</div>
                                                        <div class="sub-text">3,945</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1 border-bottom border-0 border-dashed">
                                                        <div class="lead-text">China</div>
                                                        <div class="sub-text">2,945</div>
                                                    </li>
                                                    <li class="align-center justify-between py-1 gx-1">
                                                        <div class="lead-text">France</div>
                                                        <div class="sub-text">954</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-4 col-md-6">
                                        <div class="card card-full">
                                            <div class="card-inner">
                                                <div class="card-title-group">
                                                    <div class="card-title">
                                                        <h6 class="title">Web conv. rate</h6>
                                                    </div>
                                                    <div class="card-tools me-n1 mt-n1">
                                                        <div class="dropdown">
                                                            <a href="#" class="dropdown-toggle btn btn-icon btn-trigger" data-bs-toggle="dropdown"><em class="icon ni ni-more-h"></em></a>
                                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                                <ul class="link-list-opt no-bdr">
                                                                    <li><a href="#" class="active"><span>15 Days</span></a></li>
                                                                    <li><a href="#"><span>30 Days</span></a></li>
                                                                    <li><a href="#"><span>3 Months</span></a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-inner pt-0">
                                                <div class="">
                                                    <span class="fs-2 lh-1 mb-1 text-head">3.86%</span>
                                                    <div class="fs-14px">This month</div>
                                                </div>
                                                <div class="nk-cmwg4-ck mt-4">
                                                    <canvas class="campaign-line-chart-s3" id="webConvRate"></canvas>
                                                </div>
                                                <div class="chart-label-group ms-5 mt-0">
                                                    <div class="chart-label">Jan</div>
                                                    <div class="chart-label d-none d-sm-block">Feb</div>
                                                    <div class="chart-label d-none d-sm-block">Mar</div>
                                                    <div class="chart-label d-none d-sm-block">Apr</div>
                                                    <div class="chart-label d-none d-sm-block">May</div>
                                                    <div class="chart-label">Jun</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- Chart section end -->
                                </div><!-- .row -->
                            </div><!-- .nk-block -->
                        </div>
                    </div>
                </div>
                <!-- content @e -->
                <!-- footer section start -->
                <div class="nk-footer">
                     <app-footer></app-footer>  
                 </div>      
                <!-- footer section end -->        
            </div>
        <!-- wrap @e -->
        </div>
    <!-- main @e -->
    </div>
</body>
