<!-- footer @s -->

    <div class="container-xl wide-xl">
        <div class="nk-footer-wrap">
            <div class="nk-footer-copyright"> &copy; 2024 DashLite. Template by <a href="https://softnio.com" target="_blank">Softnio</a>
            </div>
            <div class="nk-footer-links">
                <ul class="nav nav-sm">
                    <li class="nav-item dropup">
                        <a herf="" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base" data-bs-toggle="dropdown" data-offset="0,10"><span>English</span></a>
                        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                            <ul class="language-list">
                                <li>
                                    <a href="#" class="language-item">
                                        <span class="language-name">English</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- toaster -->
<div class="toast-container position-fixed top-0 end-0 p-3">
    <div id="toaster" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <strong class="me-auto text-primary">{{toastTitle ? toastTitle:''}}</strong>
        <!-- <small>11 mins ago</small> -->
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
       {{toastMessage ? toastMessage : ''}}
      </div>
    </div>
</div>

<!-- footer @e -->